<div class="Advantages-Wrap">
    <div class="Advantages">
        <ul class="List">
            <li><span class="Big">25</span> лет на рынке</li>
            <li><span class="Big">1000</span> успешных проектов</li>
            <li><span class="Big">500</span> клиентов</li>
        </ul>
    </div>
</div>
<div class="Providers-Wrap Wrap">
    <section class="Providers">
        <h2><span>Наши поставщики</span></h2>
        <ul class="List">
            <li><div class="Img-Handler"><img src="/wp-content/uploads/2016/08/ekoton-logo.png"/></div>
                <p class="Provider">Компания «ЭКОТОН» основана в 1995 году специалистами в области очистки сточных вод.
                    Начав с производства
                    одних только систем аэрации и 8 сотрудников
                    , уже в 1999 году компания начала производить механизированное оборудование, с каждым годом
                    наращивая
                    производственные возможности и привлекая в свою команду новых профессионалов.</p>
                <a href="/category/catalog/ecoton/">Перейти к продукции EKOTON</a></li>
            <li>
                <div class="Img-Handler"><img src="/wp-content/uploads/2016/08/lowara-logo.png" alt="lowara-logo"/></div>
                <p class="Provider">Компания «Lowara» крупнейший лидер Европейского рынка бытовых и промышленных
                    насосов. Lowara основана в
                    1968 году и расположенная в Монтеккио Маджиоре, недалеко от Виченцы в Италии, Lowara поставляет
                    заказчикам и клиентам насосы для воды для различных применений вот уже более 40 лет.</p>
                <a href="/category/catalog/lowara/">Перейти к продукции LOWARA</a></li>
            <li><div class="Img-Handler"> <img src="/wp-content/uploads/2016/08/flygt-logo.png" alt="flygt-logo"/></div>
                <p class="Provider">Компания «Flygt» крупнейший производитель погружных насосов для перекачки воды,
                    стоков и дренажа для
                    крупных инженерных объектов</p><a href="/category/catalog/flygt/">Перейти к продукции FLYGT</a></li>
            <li>
                <div class="Img-Handler"><img src="/wp-content/uploads/2016/08/ekoton-logo.png"/></div>
                <p class="Provider">Компания «ЭКОТОН» основана в 1995 году специалистами в области очистки сточных вод.
                    Начав с производства
                    одних только систем аэрации и 8 сотрудников
                    , уже в 1999 году компания начала производить механизированное оборудование, с каждым годом
                    наращивая
                    производственные возможности и привлекая в свою команду новых профессионалов.</p>
                <a href="/category/catalog/ekoton/">Перейти к продукции EKOTON</a></li>
            <li>
                <div class="Img-Handler"><img src="/wp-content/uploads/2016/08/lowara-logo.png" alt="lowara-logo"/></div>
                <p class="Provider">Компания «Lowara» крупнейший лидер Европейского рынка бытовых и промышленных
                    насосов. Lowara основана в
                    1968 году и расположенная в Монтеккио Маджиоре, недалеко от Виченцы в Италии, Lowara поставляет
                    заказчикам и клиентам насосы для воды для различных применений вот уже более 40 лет.</p>
                <a href="/category/catalog/lowara/">Перейти к продукции LOWARA</a></li>
            <li><div class="Img-Handler"><img src="/wp-content/uploads/2016/08/flygt-logo.png" alt="flygt-logo"/></div>
                <p class="Provider">Компания «Flygt» крупнейший производитель погружных насосов для перекачки воды,
                    стоков и дренажа для
                    крупных инженерных объектов</p>
                <a href="/category/catalog/flygt/">Перейти к продукции FLYGT</a></li>
        </ul>
    </section>
</div>
<div class="Customer-Wrap Wrap">
    <section class="Customer">
        <h2><span>Проектировщикам и заказчикам</span></h2>
        <ul class="List">
            <li>
                <div class="Svg-Holder doc"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#doc"></use></svg></div>
                <span>Необходимация техническая документация</span></li>
            <li><div class="Svg-Holder maintenance"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#maintenance"></use></svg></div>
                <span>Вопросы обслуживания оборудования</span></li>
            <li><div class="Svg-Holder doc-2"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#doc-2"></use></svg></div>
                <span>Подготовка и выдача необходимого ТЭО</span></li>
            <li><div class="Svg-Holder settings"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#settings"></use></svg></div>
                <span>Подбор оборудования по заданными Вами параметрами</span></li>
            <li><div class="Svg-Holder a-cad"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#a-cad"></use></svg></div>
                <span>equipment selection</span></li>
            <li><div class="Svg-Holder board"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#board"></use></svg></div>
                <span>Консультирование по возможным схемам применения оборудования</span></li>
        </ul>
    </section>
</div>
<div class="About-Us-Wrap Wrap">
    <section class="About-Us Wrap">
        <h2><span>О нас</span></h2>
        <div class="More"><a href="/about">Подробнее</a></div>
        <div class="Double-Time">

            Ведущая мировая компания в области технологий обработки воды. Компания насчитывает 12000 человек,
            объединенных общей целью: разработка инновационных решений для обеспечения населения водой.

            Центральным в нашей работе является создание новых технологий. Мы перекачиваем, очищаем, анализируем и
            возвращаем воду в окружающую среду, а также помогаем людям эффективно использовать ее в жилых домах и
            зданиях, на предприятиях и фермах.

            Ведущая мировая компания в области технологий обработки воды Компания насчитывает 12000 человек,
            объединенных общей целью: разработка инновационных решений для обеспечения населения водой. Центральным в
            нашей работе является создание новых технологий, совершенствующих способы использования, хранения и
            повторного использования воды. Мы перекачиваем, очищаем, анализируем и возвращаем воду в окружающую среду, а
            также помогаем людям эффективно использовать ее в жилых домах и зданиях, на предприятиях и фермах.

        </div>
    </section>
</div>
<div class="Our-Projects-Wrap Wrap">
    <section class="Our-Projects">
        <h2><span>Наши проекты</span></h2>
        <ul class="List">
            <li><img src="/wp-content/uploads/2016/08/project-1.jpg" alt="project 1"/>
                <div class="One-Project">
                    <h3>Металлургия</h3>
                    Насосное оборудование (Flygt), системы аэрации (Sanitaire), решения для фильтрации, флотации и сбора
                    осадка (Leopold), оборудование для УФ дезинфекции и озонирования (Wedeco), системы аэрации
                    (Sanitaire), решения для фильтрации, флотации и сбора осадка (Leopold),

                </div>
            </li>
            <li><img src="/wp-content/uploads/2016/08/project-2.jpg" alt="project 2"/>
                <div class="One-Project">
                    <h3>Горная промышленность</h3>
                    Насосное оборудование (Flygt), системы аэрации (Sanitaire), решения для фильтрации, флотации и сбора
                    осадка (Leopold), оборудование для УФ дезинфекции и озонирования (Wedeco), системы аэрации
                    (Sanitaire), решения для фильтрации, флотации и сбора осадка (Leopold),

                </div>
            </li>
            <li><img src="/wp-content/uploads/2016/08/project-3.jpg" alt="project 3"/>
                <div class="One-Project">
                    <h3>Сельское хозяйство</h3>
                    Насосное оборудование (Flygt), системы аэрации (Sanitaire), решения для фильтрации, флотации и сбора
                    осадка (Leopold), оборудование для УФ дезинфекции и озонирования (Wedeco), системы аэрации
                    (Sanitaire), решения для фильтрации, флотации и сбора осадка (Leopold),

                </div>
            </li>
        </ul>
    </section>
</div>





















<div class="Providers-Wrap Wrap">
    <section class="Providers">
        <h2><span>Наши поставщики</span></h2>
        <ul class="Providers-List">
            <li><div class="Img-Handler"><img src="/wp-content/uploads/2016/08/ekoton-logo.png"/></div>
                <p class="Provider">Компания «ЭКОТОН» основана в 1995 году специалистами в области очистки сточных вод.
                    Начав с производства
                    одних только систем аэрации и 8 сотрудников
                    , уже в 1999 году компания начала производить механизированное оборудование, с каждым годом
                    наращивая
                    производственные возможности и привлекая в свою команду новых профессионалов.</p>
                <a href="/category/catalog/ekoton/">Перейти к продукции EKOTON</a></li>
            <li class="t-caption"></li>
            <li>
                <div class="Img-Handler"><img src="/wp-content/uploads/2016/08/lowara-logo.png" alt="lowara-logo"/></div>
                <p class="Provider">Компания «Lowara» крупнейший лидер Европейского рынка бытовых и промышленных
                    насосов. Lowara основана в
                    1968 году и расположенная в Монтеккио Маджиоре, недалеко от Виченцы в Италии, Lowara поставляет
                    заказчикам и клиентам насосы для воды для различных применений вот уже более 40 лет.</p>
                <a href="/category/catalog/lowara/">Перейти к продукции LOWARA</a></li>
            <li class="t-caption"></li>
            <li><div class="Img-Handler"> <img src="/wp-content/uploads/2016/08/flygt-logo.png" alt="flygt-logo"/></div>
                <p class="Provider">Компания «Flygt» крупнейший производитель погружных насосов для перекачки воды,
                    стоков и дренажа для
                    крупных инженерных объектов</p><a href="/category/catalog/flygt/">Перейти к продукции FLYGT</a></li>
            <li class="t-caption"></li>
            <li>
                <div class="Img-Handler"><img src="/wp-content/uploads/2016/08/ekoton-logo.png"/></div>
                <p class="Provider">Компания «ЭКОТОН» основана в 1995 году специалистами в области очистки сточных вод.
                    Начав с производства
                    одних только систем аэрации и 8 сотрудников
                    , уже в 1999 году компания начала производить механизированное оборудование, с каждым годом
                    наращивая
                    производственные возможности и привлекая в свою команду новых профессионалов.</p>
                <a href="/category/catalog/ekoton/">Перейти к продукции EKOTON</a></li>
            <li class="t-caption"></li>
            <li>
                <div class="Img-Handler"><img src="/wp-content/uploads/2016/08/lowara-logo.png" alt="lowara-logo"/></div>
                <p class="Provider">Компания «Lowara» крупнейший лидер Европейского рынка бытовых и промышленных
                    насосов. Lowara основана в
                    1968 году и расположенная в Монтеккио Маджиоре, недалеко от Виченцы в Италии, Lowara поставляет
                    заказчикам и клиентам насосы для воды для различных применений вот уже более 40 лет.</p>
                <a href="/category/catalog/lowara/">Перейти к продукции LOWARA</a></li>
            <li class="t-caption"></li>
            <li><div class="Img-Handler"><img src="/wp-content/uploads/2016/08/flygt-logo.png" alt="flygt-logo"/></div>
                <p class="Provider">Компания «Flygt» крупнейший производитель погружных насосов для перекачки воды,
                    стоков и дренажа для
                    крупных инженерных объектов</p>
                <a href="/category/catalog/flygt/">Перейти к продукции FLYGT</a></li>
            <li class="t-caption"></li>
        </ul>
    </section>
</div>