////	--------------------------------------------------------------------------------------------------------------------
////	Framework Grid System
////	--------------------------------------------------------------------------------------------------------------------
//
//$grid-parts: 12;
//$grid-prefix: grid;
//$grid-viewports: $viewports;
//
//// Non-prefixed grid
//@for $grid-part from 1 to $grid-parts
//{
//	.#{$grid-prefix}-#{$grid-part}
//	{
//		$width-raw: ( 100% / $grid-parts ) * $grid-part;
//		$width-final: decimal-floor($width-raw, 3);
//		width: $width-final;
//	}
//}
//
//// Prefixed grid
////	Fetching grid prefixes, such as DS, SM, TL, DM etc.
//@each $grid-viewport-prefix, $value in $grid-viewports
//{
//	@for $grid-part from 1 to $grid-parts
//	{
//		.#{$grid-prefix}-#{to-lower-case($grid-viewport-prefix)}-#{$grid-part}
//		{
//			@include adaptive($grid-viewport-prefix)
//			{
//				$width-raw: ( 100% / $grid-parts ) * $grid-part;
//				$width-final: decimal-floor($width-raw, 3);
//				width: $width-final;
//			}
//		}
//		.offset-#{to-lower-case($grid-viewport-prefix)}-#{$grid-part}
//		{
//			@include adaptive($grid-viewport-prefix)
//			{
//				$width-raw: ( 100% / $grid-parts ) * $grid-part;
//				$width-final: decimal-floor($width-raw, 3);
//				margin-left: $width-final;
//				max-width: 100% - $width-final;
//			}
//		}
//	}
//}
//
////	--------------------------------------------------------------------------------------------------------------------
//
//.#{$grid-prefix}-fluid
//{
//	width: 100%;
//}
//
//.row
//{
//	width: 100%;
//	font-size: 0;
//
//	& > *
//	{
//		display:   inline-block;
//	}
//	& > *:not(.row)
//	{
//
//		font-size: 16px;
//	}
//}
//
////	--------------------------------------------------------------------------------------------------------------------