////	--------------------------------------------------------------------------------------------------------------------
////
////	Media Query mixin
////
////	--------------------------------------------------------------------------------------------------------------------
//
//@mixin adaptive-between($viewport-from, $viewport-to)
//{
//	@media (min-width: $viewport-from) and (max-width: $viewport-to)
//	{
//		@content;
//	}
//}
//
//@mixin adaptive-retina($multiplier: 2)
//{
//	@media (-webkit-min-device-pixel-ratio: $multiplier), (min-resolution: 96dpi*$multiplier)
//	{
//		@content;
//	}
//}
//
//@mixin adaptive($viewport, $mode: from)
//{
//	$width-type: 'min'!default;
//	$viewports-count: length($viewport);
//
//	@if ($viewports-count == 1)
//	{
//		@if ($mode == to)
//		{
//			$width-type: 'max';
//		}
//
//		@if (is-length($viewport))
//		{
//			@media (#{$width-type}-width: $viewport)
//			{
//				@content;
//			}
//		}
//
//		@else
//		{
//			@media (#{$width-type}-width: map_get($grid-viewports,$viewport))
//			{
//				@content;
//			}
//		}
//
//	}
//
//	@else if($viewports-count == 2)
//	{
//		$second-condition: '(max-width: #{map_get($grid-viewports,nth($viewport,2))})';
//
//		// xxxx 1000px
//		@if is-length(nth($viewport,2))
//		{
//			$second-condition: 'max-width: #{nth($viewport,2)}';
//		}
//		@else
//		{
//			// xxxx 2dppx
//			@if is-resolution(nth($viewport,2))
//			{
//				$multiplier: strip-unit(nth($viewport,2));
//				$second-condition: (-webkit-min-device-pixel-ratio: $multiplier) and (min-resolution: 96dpi*$multiplier)
//			}
//		}
//		@media (min-width: map_get($grid-viewports,nth($viewport,1))) and  #{$second-condition}
//		{
//			@content;
//		}
//	}
//}

@mixin media($view,$width-type){
	@media (#{$width-type}-width: $view)
	{
		@content;
	}
}
@mixin min-height($view){
	@media (min-height: $view)
	{
		@content;
	}
}

@mixin minH-maxW($viewHeight,$viewWidth){
	@media (min-height: $viewHeight) and (max-width: $viewWidth)
	{
		@content;
	}
}


//	--------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
//	@MIXIN: UNDERLINE
// ---------------------------------------------------------------------------------------------------------------------
//	EN:	Underlines text with adjustable distance, thickness and colors (default/hover/active)
//	RU:	Подчеркивает текст с настраиваемым отступом, толщиной и цветами (стандартным, наведении, нажатии)
// ---------------------------------------------------------------------------------------------------------------------

@mixin underline-bg($color)
{
	background-image: linear-gradient(transparent,transparent),linear-gradient(transparent,transparent),linear-gradient($color,$color);
}

@mixin underline($colors: (), $text:  0px transparent, $shadow: transparent)
{
	$color-count: length($colors);

	@if ($color-count >= 1)
	{
		@include underline-bg(nth($colors,1));

		@if ($color-count >= 2)
		{
			&:hover
			{
				@include underline-bg(nth($colors,2));
			}

			@if ($color-count == 3)
			{
				&:active
				{
					@include underline-bg(nth($colors,3));
				}
			}
		}
	}
	background-repeat: no-repeat,no-repeat,repeat-x;
	background-size: .05em 1px,.05em 1px,nth($text,1) nth($text,1);
	background-position: 0 0,0 0,0 nth($text,2);
	text-decoration: none;
	text-shadow: 2px 0 1px $shadow,-2px 0 1px $shadow,0 2px 1px $shadow,0 -2px 1px $shadow;
}


// ---------------------------------------------------------------------------------------------------------------------



// ---------------------------------------------------------------------------------------------------------------------
//	@MIXIN: INCLUDE-FONT
// ---------------------------------------------------------------------------------------------------------------------
//	EN:	Imports font via @font-face directive
//	RU:	Загружает шрифт средством директивы @font-face
// ---------------------------------------------------------------------------------------------------------------------

@mixin import-font($font-name, $font-weight: null, $font-style: null, $types: woff2 woff)
{
	$font-style-shorthand: 'n';

	@if ($font-style == 'italic')
	{
		$font-style-shorthand: 'i';
	}

	$file-path: $folder-fonts + $font-name + "-" + $font-weight + $font-style-shorthand;
	$src: null;

	$extmods: (
					  eot: "?",
					  svg: "#" + str-replace($font-name, " ", "_")
			  );

	$formats: (
					  otf: "opentype",
					  ttf: "truetype"
			  );

	@each $ext in $types
	{
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($file-path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face
	{
		font-family: quote($font-name);
		font-style: $font-style;
		font-weight: $font-weight;
		src: $src;
	}
}

// ---------------------------------------------------------------------------------------------------------------------

@mixin bg-retina($file-name, $extension)
{

	background-image: url(#{$folder-img + $file-name + "." + $extension});

	@include adaptive-retina()
	{
		background-image: url(#{$folder-img + $file-name + "@2x." + $extension});
	}

}

// ---------------------------------------------------------------------------------------------------------------------