%clearfix:before,
%clearfix:after
{
	display: table;

	content: ' ';
}


%clearfix:after
{
	clear: both;
}


%transition-soft-recolor
{
	transition-duration:        .3s;
	transition-timing-function: ease-in-out;
	transition-property:        background-color, border-color, color;
}
%transition-soft-height{
	transition-duration:        .3s;
	transition-timing-function: ease-in-out;
	transition-property:        height;
}


%block-centrate
{
	margin-left:  auto;
	margin-right: auto;
}


%column-narrow
{
	@extend %block-centrate;
	max-width: 600px;
}


%column
{
	@extend %block-centrate;
	max-width: 1000px;
}


%column-wide
{
	@extend %block-centrate;
	max-width: 1200px;
}


%column-padding
{
	padding-left:  $g-padding;
	padding-right: $g-padding;
}
%Unclickable {
	cursor: default;
}

%Unselectable {
	@extend %Unclickable;
	//& *::selection {
	//	background-color: transparent;
	//}
	//&::selection {
	//	background-color: transparent;
	//}

}

