// ---------------------------------------------------------------------------------------------------------------------
//
// Global Variables
//
// ---------------------------------------------------------------------------------------------------------------------

$g-unit-size: 8px;
$g-padding: 28px;
$g-bleed: 24px;

$g-font-size-huge: 28px;
$g-font-size-big: 20px;
$g-font-size-base: 16px;
$g-font-size-small: 14px;
$g-font-size-micro: 12px;

$g-font-family-base: 'Roboto', sans-serif;
$g-font-family-secondary: 'Roboto slab', serif;
$g-border-radius: 4px;

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Color Palette
// ---------------------------------------------------------------------------------------------------------------------

$c-primary: #3c9dc8;
$c-primary-text: #1565c0;
$c-primary-d: #00429a;
$c-primary-footer:  #00456b;

$c-secondary: #ff6f00;

$c-attention: #f44336;

$c-grey-xl: #f3f3f3;

$f9f9f9: f9f9f9;

$c-grey-xd: #111;
$c-grey-text: #313131;
$c-grey-text-l: #9f9f9f;
$c-grey-text-xl: #fafafa;
$c-grey-text-date: #737373;
$c-grey-shy: #fafafa;
$c-grey-form: #e4e7e8;

$c-grey-box-line: #d2d2d2;

$c-white-b: #e5e5e5;
// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Project Folders
// ---------------------------------------------------------------------------------------------------------------------

$folder-img: '../img/';
$folder-fonts: '../fonts/';

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
//	Viewports list
// ---------------------------------------------------------------------------------------------------------------------

$viewports: (
  // Phone viewports
        'SS': 320px,
        'SM': 375px,
  // Tablet viewports
        'TS' : 600px,
        'TM' : 700px,
        'TL' : 1000px,
  // Desktop viewports
        'CDS' : 1200px,
        'DS' : 1280px,
        'DM' : 1440px,
        'DL' : 1600px,
        'DXL' : 1920px,
        'D2K' : 2560px,
        'D4K' : 3840px
) !default;
$mm: 375px;
$tablet: 600px;
$tm: 765px;
$desktop: 900px;
$desktop-b:1200px;
$desktop-sm:1050px;

$viewport-expressions: (
        'screen': 'screen',
        'print': 'print',
        'handheld': 'handheld',
        'landscape': '(orientation: landscape)',
        'portrait': '(orientation: portrait)',
        'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
        'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default;

// ---------------------------------------------------------------------------------------------------------------------

