//----------------------------------------------------------------------------
.Page-About {
  @extend %Width-Content;
  //---------------------------------------------------------------------
  .About{

    @at-root .About-Content {
      @include media($desktop, 'min') {
        display: table;
        width: 100%;
        padding-bottom: 48px;

      }

      //----------------------------------------------------------
      .static {
        @include media($desktop, 'min') {
          display: table-cell;
          vertical-align: top;
          padding-right: 48px;

        }

      }

      .Slider {
        margin-top: 24px;
        @include media($desktop, 'min') {
          width: 340px;
          display: table-cell;
          vertical-align: top;
          margin-top: 0;


        }

      }

      //----------------------------------------------------------
    }
  }
  //---------------------------------------------------------------------

  //--------------------------------------------------------------------------
}