//----------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------
// CATALOG-WIDJETS&NAVIGATIONS

//----------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------
@at-root .Cat-Menu
{

    position: absolute;
    top:      2px;
    right:    -5px;
    cursor:   pointer;
    @include media($desktop, 'min')
    {
        display: none;
    }

    > svg
    {
        width:      18px;
        height:     18px;
        padding:    5px;
        box-sizing: content-box;
        fill:       $c-primary;
    }

}

.cat-show
{
    border:          none !important;

    background:      url('../../../img/ico/arrow-down.svg') no-repeat center;
    background-size: 13px;
    position:        absolute;
    right:           9px;
    top:             4px;
    padding:         15px;

    cursor:          pointer;
    &.Btn-Active
    {
        transform:        rotate(180deg);
        transform-origin: center center;
    }
}

.Catalog-Categories, .Brand-Categories
{
    border-left:  1px solid $c-grey-box-line;
    border-right: 1px solid $c-grey-box-line;
    li, .Cat-Container
    {
        @extend %Category-Separation-Bottom;
        position:   relative;
        transition: border ease-in-out .2s;
    }

    > .Cat-Wrap
    {

        .Cat-Wrap
        {
            .cat-show
            {
                display: none;
            }
        }
    }
    > .Cat-Wrap > .Cat > .Cat-In > .Cat-Wrap
    {
        height:     0;
        overflow:   hidden;
        transition: height ease-in-out .2s;
    }
    .Cat-Active
    {
        > .Cat-Container
        {
            position: relative;
            &:after
            {
                content:          '';
                display:          block;
                width:            4px;
                top:              0;
                bottom:           0;
                position:         absolute;
                left:             0;
                background-color: $c-primary;

            }

        }
    }
}

.Catalog-Categories
{
    overflow-x: hidden;
    .Cat-Wrap .Cat-Wrap .Cat-Container a
    {
        padding-left: 8px;
    }
    .Cat-Wrap .Cat-Wrap .Cat-Wrap .Cat-Container a
    {

        padding-left: 18px;
        @extend %List-Style-Round;
    }

    .Cat-Container
    {
        display:       block;
        padding-right: 25px;
        padding-left:  14px;
    }

    a
    {
        display:        block;
        padding-top:    11px;
        padding-bottom: 11px;
        font-size:      14px;
    }
    > .Cat > li
    {
        border-left:  2px solid $c-grey-box-line;
        border-right: 2px solid $c-grey-box-line;
    }
}

//List-Style-Round for ALL-CATEGORIES
.All-Categories
{
    background-color: white;

}

.Cat-Container > a
{
    width: 80%;
}

.Cat-In .Cat-In .Cat-Link
{
    width: 100%;
}

.Brand-Categories
{
    .Cat-Container > a
    {
        width: 100%;
    }
}

.Cat-Wrap
{
    background-color: white;
}

.Cat-Link.Active-Category
{
    &:after
    {
        content:          '';
        display:          block;
        position:         absolute;
        left:             0;
        width:            4px;
        top:              0;
        bottom:           0;
        background-color: $c-secondary;
        z-index:          5;
    }
}

//List-Style-Round for BRAND-CATEGORIES
@at-root .Brand-Categories
{
    .Cat-Wrap .Cat-Container a
    {
        padding-left: 8px;
    }

    .Cat-Wrap .Cat-Wrap .Cat-Container a
    {

        padding-left: 18px;
        @extend %List-Style-Round;
    }
}

@at-root .Cat
{
    a
    {
        display: inline-block;
    }

    li
    {
        position: relative;
    }

    @at-root .Cat-In
    {

        > a, > ul
        {
            padding-left: 10px;

        }

    }

}

//----------------------------------------------------------------------------------------------------------------------

//------------------------------------------------------------------------------------------------------------------
//Brand-Wrap
//------------------------------------------------------------------------------------------------------------------
.Brand-Wrap, .Ahead-Wrap
{
    position: relative;
    @extend %White-Wave-Bottom;
    //-----------------------------------------------------------------------------------------
    @at-root .Brand,.Ahead
    {
        position: relative;
        display:  table;
        width:    100%;
        height:   174px;
        @include media($tablet, 'min')
        {
            height: 280px;
        }

        @include media($desktop, 'min')
        {
            height: 409px;
        }

        //---------------------------------------------------------------------
        @at-root .Brand-Content,.Ahead-Content
        {
            position: relative;
            display:  table-cell;
            @include media($tablet, 'min')
            {
                height:         409px;
                vertical-align: middle;
            }

            //-------------------------------------------------
            @at-root .Brand-Description,.Ahead-Description
            {
                max-width:  650px;
                width:      100%;
                margin:     0 auto;
                padding:    36px 8px 0;

                text-align: center;
                color:      white;

                h1
                {
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    margin-bottom:  15px;
                }

                @include media($tablet, 'min')
                {
                    padding: 50px 8px 128px;
                }

                @at-root .Brand-Description
                {
                    @include media($tablet, 'min')
                    {
                        padding: 20px 20px 128px;
                    }
                }
                @at-root .Ahead-Description
                {
                    @include media($tablet, 'min')
                    {
                        padding: 20px 20px 40px;
                    }
                }
                h1
                {
                    @extend %Pt-Bold;
                    font-size: 28px;

                    @include media($desktop, 'min')
                    {
                        font-size: 60px;
                    }

                }

                span
                {
                    @extend %Pt-Bold;
                    font-size: 14px;
                    color:     #fff;
                    @include media($desktop, 'min')
                    {
                        font-size: 24px;
                    }

                }

                > img
                {
                    margin-bottom: 14px;
                    @include media($tablet, 'min')
                    {
                        margin-bottom: 20px;
                    }

                }

                > span
                {
                    display: block;
                }

            }
            //-------------------------------------------------
        }

        //---------------------------------------------------------------------
        &.No-Image
        {
            height: auto;
            .Brand-Description, .Ahead-Description
            {
                padding: 0;
            }
            &:after
            {
                display: none;
            }
        }
    }

    //-------------------------------------------------------------------------------------------
}

//----------------------------------------------------------------------------------------------------------------------
.Catalog-Wrap
{
    @extend %Width-Content;

    position:       relative;
    margin-top:     30px;
    padding-bottom: 24px;
    @include media($desktop, 'min')
    {
        padding-left:   47px;
        padding-right:  25px;
        padding-bottom: 102px;
        margin-top:     40px;

    }

    @at-root .Catalog-Header
    {
        position: relative;
        @include media($desktop, 'min')
        {
            margin-bottom: 17px;
        }

        @at-root .Catalog-Title
        {
            @extend %Header-Special;

            color:        $c-primary-text;
            border-color: $c-primary-text;
            max-width:    250px ;
            @include media($mm, 'min')
            {
                max-width: 100%;
            }

            span
            {

                @include media($desktop, 'min')
                {
                    font-size: 22px;
                }
            }
        }
    }
    @at-root .Catalog-Content
    {

        @at-root .Catalog-Aside-Wrap
        {
            position:         absolute;
            top:              0;
            left:             0;
            right:            0;
            background-color: white;
            //-------------------------------------------------------
            // watch /modules/js for more Catalog-Aside-Wrap  styles
            //-------------------------------------------------------
            transition:       all ease-in-out .2s;
            @include media($desktop, 'min')
            {
                position:       relative;
                top:            initial;
                left:           initial;
                right:          initial;
                display:        table-cell;
                vertical-align: top;
                width:          240px;

                visibility:     visible;
                overflow:       visible;
                opacity:        1;
            }

            @at-root .Catalog-Aside
            {

                .Aside-Title
                {
                    @extend %Pt-Bold;
                    position:         relative;
                    font-size:        16px;
                    padding:          6px 16px;
                    background-color: $c-primary;
                    color:            white;
                    border-left:      1px solid $c-grey-box-line;
                    @include media($desktop, 'min')
                    {
                        padding: 9px 16px;
                    }
                    > button
                    {
                        position: absolute;
                        right:    7px;
                        top:      0;

                        svg
                        {
                            width:      16px;
                            height:     16px;
                            padding:    9px 9px 4px;
                            box-sizing: content-box;
                            fill:       white;
                        }
                    }
                }

            }
        }
        @include media($desktop, 'min')
        {
            display: table;
            width:   100%;
        }

        @at-root .Catalog-Posts
        {
            font-size: 0;

            @include media($desktop, 'min')
            {
                display:        table-cell;
                vertical-align: top;

                padding-left:   24px;
            }

            .Short-Description
            {
                @include media($desktop, 'min')
                {

                }
            }

            .Post-Image
            {
                height: 110px;
                @include media($desktop, 'min')
                {
                    height: 150px;
                    margin: 0 auto 8px;
                }
                .centrator
                {
                    .Cell
                    {
                        height: 110px;
                        @include media($desktop, 'min')
                        {
                            height: 150px;
                            margin: 0 auto 8px;
                        }
                        img
                        {
                            max-height: 100%;
                        }
                    }
                }
            }
        }
        img
        {
            max-height: 100%;
        }
    }

}