#site-content.Contact {
  @extend %Width-Content;
  @include media($tm, 'min') {
    display: table;
    width: 100%;
  }
}

.Contact {

  .Contact-Title, .Form-Title {
    @extend %H2-normal-total-blue;

  }
  .Contact-Title {
    color: $c-primary-text;
  }
  .static, .Contact-Form {
    padding-top: 15px;
    @include media($tm, 'min') {

      display: table-cell;
      vertical-align: top;
      width: 50%;
      padding-top: 0;

    }
  }
  .static {
    > * + * {
      margin-top: 8px;
    }
    p + h3 {
      margin-top: 16px;
    }
    h2 {
      @extend %H2-normal-total-blue;
    }
    a {
      color: $c-grey-text;
      font-style: initial;
      text-decoration: none;
      font-weight: initial;
    }
  }
  .Contact-Form {
    input {
      width: 100%;
      padding: 10px 20px;
      @include media($desktop, 'min') {
        padding: 10px 25px;
      }
    }
    input[type="text"], input[type="email"],input[type="number"] {
      @extend %Control-Base;
      @extend %Roboto-Italic;
      margin-bottom: 25px;

      color: #434343;
      font-size: 14px;

    }
    input[type="submit"] {
      @extend %Primary-Button;

    }
    textarea {
      @extend %Control-Base;
      width: 100%;
      height: 80px;
      padding: 10px 20px;
      margin-bottom: 25px;

      resize: none;
      outline: none;
      @include media($desktop, 'min') {
        padding: 10px 25px;
      }

    }
    li {
      margin-top: 8px;
      margin-bottom: 4px;

    }
    .screen-reader-response {
      color: $c-attention;
    }
    .wpcf7-response-output, .wpcf7-not-valid-tip, .screen-reader-response {
      display: block;
      margin: 8px 0;
      color: $c-attention;
    }
  }

}

.Contact-Map {
  @extend %Stringed-Wave-Top;
  background-color: $c-primary;
  min-height: 300px ;
  .ymaps-2-1-41-controls__toolbar{
    margin-top: 100px!important;
  }
  .ymaps-2-1-41-controls__control{
    top:-160px!important;
  }
  .ymaps-2-1-41-copyright{
    top:-120px!important;
  }
  .ymaps-2-1-41-map-copyrights-promo{
    bottom: 90px!important;
  }
}