//------------------------------------------------------------------------------------------------------------------------
//HOME-CONTENT
//------------------------------------------------------------------------------------------------------------------------
.Home-Content
{

    @at-root .Advantages, .Providers, .Customer, .About-Us, .Our-Projects,.Home-News
    {
        @extend %Width-Content;
        padding: 30px 16px;
        @include media($desktop, 'min')
        {
            padding: 70px 47px 88px;
        }

        > h2
        {
            @extend %Header-Special;
        }

    }
    .List
    {

        font-size: 0;
        @include media($desktop, 'min')
        {

            padding-left:  20px;
            padding-right: 20px;

        }

        > li
        {
            padding: 0 20px;
            @include media($tablet, 'min')
            {
                display:        inline-block;
                width:          50%;
                vertical-align: top;
            }
            @include media($desktop, 'min')
            {

                width: 33.3333%;

            }
        }
    }
}

//------------------------------------------------------------------------------------------------------------------------
//MAIN-SLIDER
//------------------------------------------------------------------------------------------------------------------------
.Main-Slider
{
    @extend %White-Wave-Bottom;
    //---------------------------------

    overflow: hidden;
    .slides
    {
        max-height: 270px !important;
        @include media($mm, 'min')
        {
            padding-bottom: 0 !important;
            max-height:     350px !important;
        }
        @include media($tablet, 'min')
        {
            max-height: 409px !important;
        }
        li
        {
            width:    100%;
            display:  table !important;
            position: relative;

        }
    }
    //---------------------------------

    > div
    {
        width:     100% !important;
        max-width: 100% !important;

    }
    //---------------------------------

    .Image-Container
    {
        @include media($mm, 'min')
        {
            padding-bottom: 0 !important;
            height:         350px;
        }
        @include media($tablet, 'min')
        {
            padding-bottom: 0 !important;
            height:         409px;
        }
    }
    //---------------------------------

    .metaslider .flexslider
    {
        margin: 0;
    }

    //---------------------------------
    //---------------------------------

    .flexslider
    {
        ///---------
        &:hover
        {

            .flex-prev
            {
                left: 16px;
                @include media($desktop, 'min')
                {
                    left: 50px;
                }

            }
            .flex-next
            {
                right: 16px;
                @include media($desktop, 'min')
                {
                    right: 50px;
                }
            }

        }
        ///-----------
        .flex-next, .flex-prev
        {

        }
        ///----------
        .flex-direction-nav
        {
            a
            {

                z-index:    4;
                cursor:     pointer;
                transition: all ease .2s;
            }
        }
        ///----------

        .flex-next, .flex-prev
        {
            cursor: pointer;
        }
        ///----------
        .flex-prev
        {
            left:       -30px;
            display:    inline-block;
            width:      30px;
            height:     30px;
            background: url("../../../img/ico/arrow-back.svg") no-repeat center / cover !important;
            &:hover
            {
                background: url("../../../img/ico/arrow-back-orange.svg") no-repeat center / cover !important;
                transition: all ease .2s;
            }

        }
        ///----------
        .flex-next
        {
            right:      -30px;
            background: url("../../../img/ico/arrow-next.svg") no-repeat center / cover !important;
            &:hover
            {
                background: url("../../../img/ico/arrow-next-orange.svg") no-repeat center / cover !important;
                transition: all ease .2s;
            }
        }

    }
    //---------------------------------
    .caption-wrapper
    {
        position: absolute;
        top:      0;
        left:     0;
        right:    0;
        bottom:   0;

        width:    100%;
        height:   100%;
    }
    //---------------------------------
    .caption-wrap
    {
        display:        table;
        vertical-align: middle;
        position:       absolute;
        width:          100%;
        height:         100%;
        padding:        0;
        top:            0;
        left:           0;
        right:          0;
        bottom:         0;
    }
    //---------------------------------
    .caption
    {
        display:        table-cell;
        vertical-align: middle;
        color:          white;
    }
    //---------------------------------
    .caption-content
    {
        @extend %Unselectable;
        display:    table;
        margin:     0 auto 15px;
        text-align: center;
        color:      $c-grey-shy;
        ///----------
        > span
        {
            @extend %Header-First;
            display:    block;
            text-align: center;
            margin:     50px 0 15px;

            @include media($desktop, 'min')
            {
                font-size:   60px;
                line-height: 40px;

                small
                {
                    font-size:  18px;

                    margin-top: 0;
                }
            }

            small
            {
                @extend %Pt-Serif;
                display:    block;
                margin-top: -4px;
            }

            > span
            {
                color: $c-secondary;
            }

        }
        ///--------------
        small
        {
            @extend %Pt-Serif;
            @include media($desktop, 'min')
            {
                font-size: 18px;

            }
        }
        ///--------------
        > div
        {
            display:        none;
            vertical-align: middle;
            max-width:      200px;
            @include media($desktop, 'min')
            {
                display: inline-block;
            }
            &:first-of-type
            {
                @include media($desktop, 'min')
                {
                    display:      inline-block;
                    margin-right: 60px;

                }
            }
            &:last-of-type
            {
                @include media($desktop, 'min')
                {
                    margin-left: 60px;

                }
            }

            .Big
            {
                @extend %Pt-Serif;
                font-size: 32px;
                display:   block;
                > span
                {
                    color: $c-secondary;
                }
                & + small
                {
                    display:    block;
                    margin-top: -5px;
                }
            }
        }
    }
}
.solo_title
{
    padding-bottom: 20px;
}
//---------------------------------------------------------------------------------------------------
//Fixed Bg
//---------------------------------------------------------------------------------------------------
.fixed-bg
{
    background:  url("../../../img/pic/bg-ribbon.jpg") no-repeat fixed 0 -50% / cover;
    will-change: background-position, top, bottom;
}

.Customer_description
{
    font-size: 12px;
}

.Customer_link
{
    color:           #fff;
    text-decoration: none;
}

//---------------------------------------------------------------------------------------------------
//ADVANTAGES
//---------------------------------------------------------------------------------------------------
.Advantages-Wrap
{
    @extend %White-Wave-Top;
    @extend %White-Wave-Bottom;

    ///---------------------------------------------------------

    .Advantages
    {
        padding: 0;
        @include media($desktop, 'min')
        {

        }
        ////----------------------------------
        .List
        {
            padding-top: 30px;
            font-size:   0;
            text-align:  center;
            @include media($desktop, 'min')
            {
                padding-top: 0;
            }
        }
        ////----------------------------------
        li
        {

            @extend %Pt-Bold;
            display:        inline-block;
            vertical-align: middle;
            width:          50%;
            padding:        0 0 24px;
            font-size:      18px;
            line-height:    18px;

            color:          white;
            text-align:     center;

            @include media($desktop, 'min')
            {
                padding:     60px 0;
                font-size:   30px;
                line-height: 30px;
            }
            /////------------
            .Big
            {
                font-size:   30px;
                line-height: 30px;
                display:     block;
                @include media($desktop, 'min')
                {
                    font-size:   48px;
                    line-height: 48px;
                }
            }
            /////------------

        }
        ////----------------------------------
    }
    ///---------------------------------------------------------
}

//-----------------------------------------------------------------------------------------------------------------
//LINK TO THE OTHER PAGES
//-----------------------------------------------------------------------------------------------------------------

.More
{
    @extend %Unselectable;
    display: none;
    @include media($desktop, 'min')
    {
        display: inline-block;
        float:   right;
    }

    a
    {
        @extend %Wave-Button;
        display:    inline-block;
        min-width:  169px;
        min-height: 46px;
        padding:    10px;
        color:      white;
        font-size:  18px;
        text-align: center;

    }

}

//-----------------------------------------------------------------------------------------------------------------
.site-header-menu
{

}

//-----------------------------------------------------------------------------------------------------------------
//POPULAR-OFFERS
//-----------------------------------------------------------------------------------------------------------------
.Popular-Offers
{
    @extend %Width-Content;
    padding-top: 13px;
    @include media($desktop, 'min')
    {
        padding-top: 22px;
    }
    ///----------------------------------------------------------------------------
    > h2
    {
        @extend %Header-Special;
    }
    ///----------------------------------------------------------------------------
    .More
    {

        @include media($desktop, 'min')
        {

            a
            {
                font-size: 16px;
                padding:   15px 25px;
            }

        }
    }
    ///----------------------------------------------------------------------------

}

.Special-Title
{
    @include media($tablet, 'min')
    {
        margin-left: 20px;
    }
    @include media($desktop, 'min')
    {
        margin-left: 0;
    }
}

//-----------------------------------------------------------------------------------------------------------------
//GO-CATALOG-BUTTON
//-----------------------------------------------------------------------------------------------------------------
.Go-Catalog
{

    margin-top:    20px;
    margin-bottom: 47px;
    text-align:    center;
    @include media($desktop, 'min')
    {
        display: none;
    }
    ///----------------------------------------------------------------------------
    a
    {
        display:          inline-block;
        background-color: $c-primary-d;
        padding:          16px;
        color:            white;

        border-radius:    2px;
    }
    ///----------------------------------------------------------------------------
}

//-----------------------------------------------------------------------------------------------------------------
//PROVIDERS
//-----------------------------------------------------------------------------------------------------------------
.Providers
{

    @include media($desktop, 'min')
    {
        padding-bottom: 62px;
    }
    ///----------------------------------------------------------------------------
    h2
    {

        @include media($desktop, 'min')
        {
            margin-bottom: 50px;
        }
    }
    ///----------------------------------------------------------------------------
    .Providers-List
    {
        @include media($desktop, 'min')
        {
            display:   flex;
            flex-wrap: wrap;
            width:     100%;
        }
        ////---------------------------------------------------
        p + p
        {
            margin-top: 26px;
        }
        ////---------------------------------------------------
        a
        {
            @extend %Pt-Bold;
            display:       none;
            font-size:     14px;
            color:         $c-primary-text;
            border-bottom: 1px solid $c-primary-text;
            @include media($desktop, 'min')
            {
                display:    inline;
                margin-top: 8px;
            }
        }
        ////---------------------------------------------------
        li
        {
            position:   relative;
            padding:    16px 20px;
            text-align: center;
            @include media($desktop, 'min')
            {

                padding: 40px 20px 70px;
                display: table-cell;
                width:   33.3333%;

                &.t-caption
                {
                    display: none;
                    width:   0;
                    padding: 0;
                    &:nth-of-type(6n)
                    {
                        display: table-caption;

                    }
                }

            }
        }
        ////---------------------------------------------------
        .Img-Handler
        {

            @include media($desktop, 'min')
            {
                min-height: 100px;
            }
        }
        img
        {

            max-height: 100%;
        }
        ////---------------------------------------------------
        .Provider
        {
            display: none;
            @include media($desktop, 'min')
            {

                line-height: 21px;

            }
            @include media($desktop, 'min')
            {
                display: block;
            }
        }
        .Provider-Footer
        {
            position:   absolute;
            right:      0;
            bottom:     16px;
            left:       0;
            text-align: center;
        }

    }
    ///----------------------------------------------------------------------------
}

//---------------------------------------------------------------------------------------------------------------
//CUSTOMER-WRAP
//---------------------------------------------------------------------------------------------------------------
.Customer-Wrap
{
    @extend %White-Wave-Top;
    @extend %White-Wave-Bottom;
    background-color: $c-primary;
    color:            white;
    ///-------------------------------------------------------------------------------
    @at-root .Customer
    {
        @extend %Width-Content;
        padding-bottom: 32px;
        @include media($desktop, 'min')
        {
            padding-top:    78px;
            padding-bottom: 60px;
        }

        ////---------------------------------------------------
        @at-root .Customer-Wrap .Customer > h2
        {
            color:         white;
            margin-bottom: 0;
        }

        ////---------------------------------------------------
        .List
        {
            font-size: 0;
            li
            {
                display:        inline-block;
                width:          50%;
                padding:        16px 0;
                vertical-align: top;
                font-size:      12px;
                text-align:     center;
                @include media($tm, 'min')
                {
                    padding:   54px 0;
                    font-size: 18px;
                }
                /////------------------------------
                span
                {
                    display:   block;
                    max-width: 320px;
                    margin:    0 auto;
                }
                /////------------------------------
                > p
                {
                    max-width:   130px;
                    margin:      0 auto;
                    font-size:   12px;
                    line-height: 13px;
                    @include media($desktop, 'min')
                    {
                        max-width:   280px;
                        font-size:   18px;
                        line-height: 22px;
                    }
                }
                /////------------------------------
                @at-root .Customer .Svg-Holder
                {
                    margin-bottom: 8px;
                    @include media($desktop, 'min')
                    {
                        margin-bottom: 16px;
                    }

                    //////------------
                    svg
                    {
                        width:  50px;
                        height: 50px;
                        @include media($desktop, 'min')
                        {
                            width:  78px;
                            height: 78px;
                        }
                    }

                    //////------------
                }
                /////------------------------------
                @at-root .Customer .maintenance
                {
                    @include media($desktop, 'min')
                    {
                        margin-bottom: 6px;

                    }

                    //////------------
                    svg
                    {
                        width:  50px;
                        height: 50px;
                        @include media($desktop, 'min')
                        {
                            width:  90px;
                            height: 90px;

                        }
                        //////------------
                    }

                    /////------------------------------

                }
                ////----------------------------------------------------
            }
            ///------------------------------------------------------------------------------
        }

    }

}

//------------------------------------------------------------------------------------------------
//About-Us-Wrap
//------------------------------------------------------------------------------------------------

.About-Us-Wrap
{
    display: none;
    @include media($desktop, 'min')
    {
        display: block;

    }

    @at-root .About-Us
    {
        ///------------------------------------------------------------------------
        h2
        {
            margin-bottom: 16px;
            @include media($tablet, 'min')
            {
                margin-bottom: 41px;
            }
        }

        ///------------------------------------------------------------------------
        .Double-Time
        {
            @include media($tablet, 'min')
            {
                column-count: 2;
                column-gap:   0;
                p
                {
                    padding:     21px 16px 0;
                    line-height: 23px;
                }
            }

        }

        ///------------------------------------------------------------------------
    }
}

//----------------------------------------------------------------------------------------------------------------------
//Our-Projects-Wrap
//----------------------------------------------------------------------------------------------------------------------

.Our-Projects-Wrap
{
    @extend %White-Wave-Top;
    @extend %White-Wave-Bottom;
    display:          none;
    background-color: $c-primary;
    color:            white;
    @include media($desktop, 'min')
    {
        display: block;

    }
    ///------------------------------------------------------------------------
    h2
    {
        color: white;
    }
    ///------------------------------------------------------------------------
    .Our-Projects
    {
        padding: 70px 47px 88px;
    }
    @at-root .Our-Projects
    {

        ////--------------------------------------------
        .List
        {
            padding: 0;

            /////------------------------
            li
            {
                padding: 0 24px;
                //////----------------
                p:first-of-type
                {
                    padding:     0;
                    width:       calc(100% + 48px);
                    margin-left: -24px;
                    margin-top:  -16px;
                    img
                    {

                    }
                }
                //////----------------

                > div
                {
                    background-color: white;

                    color:            #313131;
                }

            }
            h3
            {
                @extend %Pt-Bold;
                font-size:     20px;
                color:         black;
                margin-bottom: 16px;
            }
            .One-Project
            {
                padding:     16px 24px 24px;
                font-size:   14px;
                line-height: 20px;
                min-height:  391px;

                > *:not(h3,h4,h5,h6)
                {
                    font-size:   inherit;
                    line-height: inherit;
                }

            }

        }
    }
}

.Popular-Posts
{
    .Post .Post-Image
    {
        height: 221px;
        img
        {
            max-height: 100%;
        }
        .centrator
        {

            > div
            {

                height: 221px;
            }
            img
            {
                max-height: 100%;
            }
        }

    }
    .Post-Title
    {
        a
        {
            @include media($desktop, 'min')
            {

            }
        }
    }
    .Post-Category
    {
        margin-top: 2px;
    }
    .Post
    {
        .Short-Description
        {
            @include media($desktop, 'min')
            {
                height: 140px;
            }
        }
        .Post-Footer
        {
            //@include media($desktop, 'min') {
            //  padding-top: 19px;
            //}
        }

    }

    font-size: 0;
    @include media($desktop, 'min')
    {
        padding-left:   47px;
        padding-right:  47px;
        padding-bottom: 70px;
    }

}

.Popular-Posts, .Similar-Posts
{
    @extend %clearfix;

    font-size: 0;

}

//---------------------------------------------------------------------------
// Look for .Home-News-Wrap .Home-News IN /modules/-all-news
//---------------------------------------------------------------------------
