.News-Page {
  >h2{
    @extend %H2-normal-total-blue;
  }
  @at-root .News-Category {

    font-size: 0;
    .Post-News-Wrap {
      width: 100%;
      padding-bottom: 24px;
      @include media($desktop, 'min') {
        padding-bottom: 60px;
      }
      .News-Article {
        h2{
          @extend %Pt-Serif;
          font-size: 20px;
        }
        p{
          font-size: 17px;
          line-height: 23px;
        }
        @include media($tablet, 'min') {
          padding-left: 44px;
        }
        .News-Info {

          @include media($desktop, 'min') {
            position: relative;
            left: auto;
            bottom:auto;
          }

        }
        .News-Date{
          font-size: 14px;
        }
      }
      .Image{

        @include media($tablet, 'min') {
          width: 33%;
        }
      }


    }

  }
}
