.One-News-Page {
  @extend %Width-Content;
  padding-bottom: 10px;
  @include media($desktop, 'min') {
    padding-bottom: 40px;
  }
  //------------------------------------------------------------------------------------------------------
  .One-News-Wrap {
    display: table;
    width: 100%;
    @include media($desktop, 'min') {

    }
  }
  //------------------------------------------------------------------------------------------------------
  .Image {

    margin-bottom: 12px;

    width: calc(100% + 32px);
    margin-left: -16px;
    @include media(375px, 'min') {
      display: block;
      max-width: 364px;
      width: auto;
      margin-left: 0;

    }
    @include media($desktop, 'min') {
      display: table-cell;
      vertical-align: top;
      width: 412px;
      padding-right: 48px;
      margin-bottom: 25px;

    }
  }
  //------------------------------------------------------------------------------------------------------
  .Breadcrumbs {
    @extend %Pt-Serif;
    font-size: 14px;
    li {
      vertical-align: middle;
      & + li {
        @extend %List-Style-Breadcrumbs;
        padding-left: 10px;
        vertical-align: middle;

      }
    }

  }
  .News-Title {
    @extend %Pt-Bold;
    display: block;
    line-height: 23px;

    @include media($desktop, 'min') {
      display: table-caption;

    }
    > div {
      margin-bottom: 8px;
      @include media($desktop, 'min') {
        padding: 10px 0 10px 22px;
        margin-bottom: 40px;
        border-left: 4px solid $c-primary-text;

      }
    }
    //----------------------------------------------------------------------------------
    .Date {
      @extend %Roboto-Thin;
      display: table;
      margin-left: auto;
      color: $c-grey-text-date;
      font-size: 12px;
      margin-bottom: 10px;
      @include media($tm, 'min') {
        float: right;

      }
      @include media($desktop, 'min') {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 0;

      }
    }
    //----------------------------------------------------------------------------------
    .Title {
      @extend %Pt-Bold;
      display: block;
      font-size: 18px;
      margin-bottom: 16px;
      @include media($tablet, 'min') {
        margin-bottom: 0;
      }
      @include media($desktop, 'min') {
        font-size: 24px;
        color: $c-primary-text;

      }
    }
    //----------------------------------------------------------------------------------
  }
  //------------------------------------------------------------------------------------------------------
  .One-News {
    @include media($desktop, 'min') {
      display: table-cell;
      max-width: 848px;
      vertical-align: top;

    }
    .static{
      line-height: 23px;
     p,span, li{
       line-height: 23px;
     }
    }
  }
  //------------------------------------------------------------------------------------------------------

}

//---------------------------------------------------------------------------
// Look for .Latest-News-Wrap .Latest-News IN /modules/-all-news
//---------------------------------------------------------------------------

