//--------------------------------------------------------------------
.Post-Extended-Page {
  @extend %Width-Content;
  font-size: 0;
  padding-bottom: 8px;
  @include media($desktop, 'min') {
    display: table;
    width: 100%;
    padding-bottom: 30px;

  }

  header {

    @include media($desktop, 'min') {
      display: table-caption;
    }
    > h2 {
      @extend %H2-normal-total-blue;
      display: block;
      color: $c-primary-text;
      margin: 0 0 30px;

      text-transform: initial;
      @include media($desktop, 'min') {
        font-size: 22px;
        padding: 0 0 4px 18px;
        margin: 0 50px 37px;
      }

    }
    .Breadcrumbs {
      @extend %Pt-Serif;
      font-size: 14px;
      li {
        display: inline-block;
      }
    }
  }

  //-----------------------------------------------
  .Slider {
    margin-bottom: 24px;
    @include media($desktop, 'min') {
      display: table-cell;
      vertical-align: top;
      width: 35%;
      padding-right: 48px;
    }

  }

  //-----------------------------------------------
  @at-root .Post-Extended-Wrap{
    @include media($desktop, 'min') {
      display: table-cell;
      vertical-align: top;

    }
    @at-root .Post-Extended {

      .Full-Content {
        padding-bottom: 30px;
      }

      .Post-Footer {
        padding-bottom: 30px;
        padding-left:0;
        padding-right: 0;

        @include media($desktop, 'min') {
          max-width: 360px;
          margin-left: auto;
        }
        .Price {
          span {
            &:first-of-type {
              font-size: 20px;
            }
          }
          .Price-Name {
            display: none;
            @include media($desktop, 'min') {
              display: inline-block;
            }
          }
          svg {
            width: 18px;
            height: 18px;
          }
        }
        .price {
          font-size: 22px;
          margin-left: 14px;
        }
      }
    }
    @at-root .Post-Tabs {
      .Tabs-Nav {
        @extend %Unselectable;
        display: none;
        @include media($desktop, 'min') {

          display: block;
          background-color: #eaeeef;
        }

        a {
          @extend %Pt-Bold;
          display: inline-block;
          padding: 10px 32px;
          font-size: 14px;
          border-right: 1px solid white;

          color: #1c1c1c;
          cursor: pointer;
          &.Active {
            background-color: $c-primary-d;
            color: white;
          }

        }
      }

      .Tab {


        @include media($desktop, 'min') {
          padding: 20px 0;
          display: none;
        }

        &.Active {
          display: block;
        }

        .Tab-Head {
          @extend %Pt-Bold;
          display: block;
          padding: 16px;
          margin-bottom: 16px;
          background-color: #eaeeef;
          width: calc(100% + 32px);
          margin-left: -16px;

          font-size: 14px;
          @include media($tm, 'min') {
            width: 100%;
            margin-left: 0;
          }

          @include media($desktop, 'min') {
            display: none;
          }
        }
      }
      .static{
        padding-bottom: 24px;
      }
    }
  }

}

.Similar-Posts-Wrap {
  @extend %Width-Content;
  .Similar-Posts {
    > h2 {
      @extend %H2-normal-blue;
      @include media($desktop,'min'){

      }

    }
    .Post-Wrap {
      @include media($desktop, 'min') {
        width: 25%;
      }
    }
  }
}
