.Static-Page
{
    @extend %Width-Content;

}

.Static-Title, h2.Static-Title
{
    @extend %Blue-Leftborder-Head;
    @extend %Pt-Bold;
    span
    {
        @extend %Uppercase;
        font-size: 22px;
        color:     $c-primary-text;
    }
}

.site-content .about_realizations
{
    display:       flex;
    flex-wrap:     wrap;

    padding:       0;
    margin-left:   -15px;
    margin-right:  -15px;
    margin-bottom: 80px;
    @include media("412px", 'min')
    {
        justify-content: space-between;
        max-width:       718px;
        margin-bottom:   80px;
    }
}

.site-content .realization_circle
{
    display:     inline-block;
    padding:     35px 15px 0;

    text-align:  center;
    color:       black;

    font-weight: 500;
    font-size:   19px;
}

.site-content .realization_product
{
    display:       block;
    width:         100px;
    height:        100px;
    margin-bottom: 10px;
    border:        5px solid $c-primary;

    border-radius: 100px;
    line-height:   95px;

    font-weight:   700;
    font-size:     32px;
    color:         $c-secondary;
}

.realization_year
{
    position: absolute;
    margin:   120px 0 0 -70px;
}