
@font-face {
  font-family: 'PTSerif-Bold';
  src: url('PTSerif-Bold.eot?#iefix') format('embedded-opentype'),  url('PTSerif-Bold.woff') format('woff'), url('PTSerif-Bold.ttf')  format('truetype'), url('PTSerif-Bold.svg#PTSerif-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
