//%control-base
//{
//	font-size: $g-font-size-base;
//	line-height: 36px;
//	color: #666;
//}
//
//%control-frame
//{
//	padding: 0 space(2);
//	border-radius: $g-border-radius;
//	border: 1px solid #bbb;
//}
//
//input, select, textarea
//{
//	@extend %control-base;
//	@extend %control-frame
//}
//
//button
//{
//	@extend %control-base;
//	border-radius: $g-border-radius;
//	background-color: $c-primary;
//	color: #fff;
//}
//
//label
//{
//	@extend %control-base;
//}
//
//form
//{
//	@extend %column-padding;
//}
//
//form .row + .row
//{
//	margin-top: space(2);
//}