%Width-Content {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  @include media($desktop, 'min') {

    padding-left: 47px;
    padding-right: 47px;

  }
}

%Width-Content-No-Pad {
  max-width: 1200px;
  margin: 0 auto;
}

%Width-Limit {
  max-width: 1920px;
  margin: 0 auto;
}

%Wave-Button {
  @extend %Pt-Serif;
  background: url("../../../img/ico/button.svg") no-repeat / cover;
  padding: 9px 28px;
  font-size: 16px;
  transition: background ease-in-out .2s;
  color: white;
  &:hover {
    background: url("../../../img/ico/button-hover.svg") no-repeat / cover;
    transition: background ease-in-out .2s;
  }

}

%Wave-Before-After {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 1;
}

%Wave-Bottom {

  position: relative;
  &:after {
    @extend %Wave-Before-After;

    bottom: 0;
  }
}

%White-Wave {
  background: url("../../../img/ico/wave-white.svg") repeat-x;
}

%Blue-Wave {
  background: url("../../../img/ico/wave-blue.svg") repeat-x;
}

%Wave-Top {

  position: relative;
  &:before {
    @extend %Wave-Before-After;
    top: 0;
    transform-origin: center center;
    transform: rotate(-180deg);
  }
}

%White-Wave-Bottom {
  @extend %Wave-Bottom;
  &:after {
    background: url("../../../img/ico/wave-white.svg") repeat-x;
    background-position: 60% 100%;
  }
}

%White-Wave-Top {
  @extend %Wave-Top;
  &:before {
    background: url("../../../img/ico/wave-white.svg") repeat-x;
    background-position: 42% 100%;
  }
}

%Stringed-Wave-Top {
  @extend %Wave-Top;
  &:before {
    transform-origin: center center;
    transform: rotate(0deg);
    background: url("../../../img/ico/wave-stringed.svg") repeat-x;
    background-position: 41% 0;
  }
}

%Blue-Wave-Top {
  &:before {
    @extend %Blue-Wave;
    @extend %Wave-Before-After;
    top: -40px;
    background-position: 0 100%;

  }
  position: relative;

}

%link-underline-White {
  @extend %transition-soft-recolor;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: white;
  }
}

%link-underline-Blue {
  @extend %transition-soft-recolor;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $c-primary-text;
  }
}

%Border-Left-Footer {

  @include media($desktop, 'min') {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      display: block;
      left: -14px;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: $c-secondary;
    }
  }
}

%h2-normal {
  font-size: 18px;
  @include media($desktop, 'min') {
    font-size: 22px;

  }
}

%h2-big {
  font-size: 18px;
  @include media($desktop, 'min') {
    font-size: 28px;
  }
}

%h2-borderblue {
  border-left: 4px solid $c-primary-text;
  padding: 10px 0 10px 22px;
}

%H2-normal-blue {
  @extend %Uppercase;
  @extend %Pt-Bold;
  @extend %h2-normal;
  @extend %h2-borderblue;
  margin-bottom: 50px;

}

%H2-big-blue {
  @extend %Uppercase;
  @extend %Pt-Bold;
  @extend %h2-big;
  @extend %h2-borderblue;
  margin-bottom: 50px;

}

%H2-normal-total-blue {
  @extend %H2-normal-blue;
  color: $c-primary-text;
}

%H2-big-total-blue {
  @extend %H2-big-blue;
  color: $c-grey-text-l;
}

%Blue-Leftborder-Head {
  @extend %Pt-Bold;
  margin-bottom: 30px;
  font-size: 18px;
  padding-left: 10px;
  border-left: 4px solid $c-primary-text;

  @include media($desktop, 'min') {
    margin-bottom: 50px;
    padding-left: 22px;
    font-size: 22px;
  }
}

%Circle {
  border-radius: 50%;
}

%Rounded {
  border-radius: 5px;
}

%Call-Order {
  @extend %Rounded;
  @extend %transition-soft-recolor;

  background-color: $c-secondary;
  color: white;
  padding: 2px 10px 7px;
  width: 215px;
  max-width: 100%;
  &:hover {
    @extend %transition-soft-recolor;
    background-color: $c-primary;
    @include media($desktop, 'min') {
      background-color: $c-primary-d;
    }

  }

}

%Border-Categories-Aside {
  border-bottom: 1px solid $c-grey-box-line;
  border-left: 2px solid $c-grey-box-line;
  border-right: 2px solid $c-grey-box-line;
}

%Border-Categories-Aside-Top {
  border-top: 1px solid $c-grey-box-line;
}

%Control-Base {
  border: 1px solid $c-grey-box-line;
}

%List-Style-Round {
  &:before {
    content: '';
    @extend %Circle;
    display: inline-block;
    height: 4px;
    width: 4px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: $c-grey-text;

  }
}

%List-Style-Breadcrumbs {
  &:before {
    content: '';
    @extend %Circle;
    display: inline-block;
    height: 4px;
    width: 4px;
    margin-right: 10px;
    vertical-align: middle;
    margin-bottom: 2px;
    background-color: $c-grey-text;

  }
}

%Category-Separation {
  &:after {
    content: '';
    position: absolute;
    display: block;

    left: -100px;
    right: -100px;
    width: 3000px;
    top: 0;
    height: 1px;
    background-color: $c-grey-box-line;
  }
}

%Category-Separation-Bottom {
  &:before {
    content: '';
    position: absolute;
    display: block;

    left: -100px;
    right: -100px;
    width: 3000px;
    bottom: 0;
    height: 1px;
    background-color: $c-grey-box-line;
  }
}
%Primary-Button{
  @extend %transition-soft-recolor;
  color: white;
  background-color: $c-primary-text;
  cursor: pointer;
  &:hover{
    @extend %transition-soft-recolor;
    background-color: $c-secondary;
  }
  &:active{
    @extend %transition-soft-recolor;
    background-color: $c-attention;
  }
  
}
%Mob-Image-View{
  width: calc(100% + 32px);
  margin-left: -16px;
  @include media('375px','min'){
    width: 100%;
    margin-left:0;
  }
}
