html {

  height: 100%;
  min-height: 100%;
  color: $c-grey-text;
}



body {
  @extend %Roboto;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  table-layout: fixed;
  min-width: 320px;
  padding-top: 48px;
  // px fallback
  //font-size: 16px;
  font-size: $g-font-size-base;
  font-family: $g-font-family-base;
  font-kerning: normal;

  color: $c-grey-xd;

  //background-color : $c-grey;
  @include media($desktop, 'min') {
    padding-top: 134px;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: $c-grey-text-l;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: $c-primary-text;
    width: 10px;
  }
  &.admin-bar {
    margin-top: 42px;
    @include media($tm, 'min') {
      margin-top: 32px;
    }
    #master-head {
      top: 46px;
      @include media($tm, 'min') {
        top: 32px;
      }
    }
  }

}

#wpadminbar {
  position: fixed !important;
}

img {
  max-width: 100%;
}

#master-head {
  display: table-header-group;
  width: 100%;
  height: 48px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  will-change: height;
  transition: height ease-in-out .2s;
  @include media($desktop, 'min') {
    //position: relative;
    //height: 3%;
    height: auto;
  }

  &.Naw-Head {
    bottom: 0;
    will-change: height;
    @include min-height($tablet) {
      overflow-x: hidden;
    }
  }


}

#site-content {
  display: block;
  min-height: 1%;
  padding-top: 30px;
  padding-bottom: 30px;
  @include media($desktop, 'min') {
    padding-top: 40px;
    padding-bottom: 100px;

  }

}

#site-footer {

  display: table-footer-group;
  height: 3%;
  background-color: $c-primary;
  color: white;

}

a {
  text-decoration: none;
  color: $c-grey-text;
  &:visited {
    color: inherit;
  }
}

.Error-Page, .Search-Page, .News-Page {
  @extend %Width-Content;
}

.Search-Page {
> h2{
  @extend %H2-big-total-blue;
 span{
   color: $c-primary-text;
 }
}
  .Search-Content {

    font-size: 0;

  }
}



