%typography-block {
  & > * + * {
    margin-top: 16px;
  }

  img {
    max-width: 100%;
  }

  figure {
    figcaption {
      text-align: center;
    }
  }
}

p {
  font-size: 14px;
  line-height: 16px;
  @include media($desktop, 'min') {
    font-size: 16px;
    line-height: 20px;
  }

}

ul, ol {
  list-style: none;
}

button, input {
  outline: none;
}

%Roboto {
  font-family: 'Roboto', sans-serif;
}

%Roboto-Bold {
  @extend %Roboto;
  font-weight: 700;
}
%Roboto-Thin{
  @extend %Roboto;
  font-weight: 300;
}
%Roboto-Italic{
  @extend %Roboto;
  font-style: italic;
}

%Pt-Serif {
  font-family: 'PT Serif', serif;
}

%Pt-Bold {
  @extend %Pt-Serif;
  font-weight: bold;
}
//FOR Main-Slider
%Header-First {
  @extend %Pt-Bold;
  font-size: 30px;
  line-height: 33px;
  color: $c-grey-text-xl;
  small {
    @extend %Roboto;
    font-size: 12px;
    display: inline-block;
    width: 100%;
  }
}
//Header With Left Wide Borderline
%Header-Special {
  @extend %Pt-Bold;
  display: inline-block;
  padding: 4px 0 7px 8px;
  border-left: 4px solid $c-secondary;
  color: $c-grey-text;
  font-size: 18px;
  margin-bottom: 16px;

  @include media($desktop, 'min') {
    margin-bottom: 50px;
    font-size: 28px;
    padding: 4px 0 7px 18px;
  }
  span {
    @extend %Uppercase;
  }
}
%Header-Special-Case{
  @extend %Pt-Bold;
  display: inline-block;
  padding: 4px 0 4px 18px;
  border-left: 4px solid $c-secondary;
  color: $c-grey-text;
  font-size: 18px;
  margin-bottom: 16px;

  @include media($desktop, 'min') {
    margin-bottom: 50px;
    font-size: 28px;
  }


}

%Uppercase {
  text-transform: uppercase;
}