//---------------------------------------------------------------------------
// THIS FILE  CONTAINS ALL DIFFERENT PAGE MODIFICATORS FOR POST-NEWS TEMPLATE
//---------------------------------------------------------------------------
//---------------------------------------------------------------------------
// HOME-PAGE MODULE
//---------------------------------------------------------------------------

.Home-News-Wrap {
  //---------------------------------------------------------------------------
  @at-root .Home-News {
    .News-List {
      @extend %clearfix;
      font-size: 0;
      //---------------------------------------------
      @at-root .Home-News .Post-News-Wrap {
        padding-bottom: 24px;
        @include media($tablet, 'min') {
          display: inline-block;
          width: 50%;
          padding: 0 16px;
        }

        @include media($desktop, 'min') {
          display: inline-block;
          width: 50%;
          padding: 0 48px;
        }

        @at-root .Home-News .Post-News {
          max-width: 600px;
          margin: 0 auto;
        }

      }
      @at-root .Home-News .Image {
        width: 100%;
        @include media($desktop, 'min') {
          display: inline-block;
          vertical-align: top;
          width: 37%;

        }

        > div {
          width: calc(100% + 32px);
          margin-left: -16px;

          @include media($tablet, 'min') {
            width: 100%;
            margin-left: 0;


          }

        }

      }
      //----------------------------------------------
      @at-root .Home-News .Image {
        //----------------------------
        > div {
          @include media($desktop, 'min') {
            padding-bottom: 152% !important;
          }
        }

        //----------------------------
      }
      //-----------------------------------------------
    }

    //---------------------------------------------------------------
    .News-Article {

      @include media($tablet, 'min') {

        max-height: 206px;
        margin-bottom: 25px;
        overflow: hidden;

      }
      @include media($desktop, 'min') {
        width: 63%;
        max-height: 206px;
        padding-left: 24px;

      }
      > h2 {
        @include media($tablet, 'min') {

          height: 40px;
          margin-bottom: 0;
          overflow: hidden;

        }

      }
      //-----------------------------------------------
      .Short-Description {
        @include media($tablet, 'min') {
          height: 93px;
        }
      }
      //-----------------------------------------------
      .News-Info {

        a {
          color: $c-primary-text;
          vertical-align: middle;
          transition: none;
          &:hover{
            color: $c-grey-text-l;
            &:after{
              background-color: $c-grey-text-l;
            }
          }

        }


        @include media($tablet, 'min') {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -20px;
          padding: 20px ;

        }

        @include media($desktop, 'min') {
          left: 37%;

        }
      }
      //-----------------------------------------------
    }

    //---------------------------------------------------------------

  }
}

//---------------------------------------------------------------------------
// ONE-NEWS-PAGE MODULE
//---------------------------------------------------------------------------
.Latest-News-Wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: none;
  padding: 16px 20px;

  @include media($desktop, 'min') {
    display: block;

  }

  @at-root .Latest-News {

    font-size: 0;
    > h2 {
      @extend %Blue-Leftborder-Head;
      margin: 0 8px 16px;
      text-transform: uppercase;
      @include media($desktop, 'min') {

        margin: 0 25px 57px;
        font-size: 22px;
        padding: 9px 5px 9px 24px;

      }

    }

    .Post-News-Wrap {

      @include media($desktop, 'min') {
        display: inline-block;
        width: 25%;
        padding: 0 25px;

      }
      .Image > div {
        padding-bottom: 85% !important;
      }
      .News-Article {
        width: 100%;
        padding-bottom: 42px;

        > h2 {

          margin-top: 2px;
          height: 40px;
          overflow: hidden;
          margin-bottom: 0;
          span {
            @extend %Pt-Bold;
          }
        }
      }
      .Short-Description {
        @include media($desktop, 'min') {

          height: 137px;

        }
        &.static {
          padding-top: 9px;

          p {
            line-height: 16px;
          }
          > p:first-of-type {
            margin-top: 0;
          }

        }
      }
      .News-Info {
        width: 100%;
        left: 0;
        padding: 20px 0;
        display: table;
        >*{
          display: table-cell;
          vertical-align: middle;
        }
        a{
          text-align: right;
        }
      }

    }

    .Image {
      width: 100%;
    }
  }
}
