.Site-Footer {
  a, li, span, h2 {
    color: $c-white-b;
  }

  .Footer-Nav {
    @extend %Blue-Wave-Top;
    padding-top: 16px;
    background-color: $c-primary;
    @include media($desktop, 'min') {
      padding-top: 24px;
    }
    @at-root .Site-Footer .Footer-Menus {
      @extend %Width-Content;
      display: table;
      width: 100%;
      padding-bottom: 16px;
      @include media($desktop, 'min') {
        padding-bottom: 23px;
      }

      .widget {
        display: block;
        @include media($desktop, 'min') {
          display: inline-block;
          vertical-align: top;
        }

        &:first-of-type {
          @include media($desktop, 'min') {
            max-width: 225px;
            padding-left: 15px;
          }
        }
        & + .widget {
          display: none;
          @include media($desktop, 'min') {
            display: table-cell;
            vertical-align: top;
            width: 18%;
          }

          a {

            @extend %transition-soft-recolor;

            &:hover {
              @extend %link-underline-White;

            }
          }

        }
        &:nth-of-type(4) {
          width: 22% !important;
        }
        &:last-of-type {
          padding-left: 3%;
        }
        li {

          display: table;
          padding: 6px 0;
          font-size: 14px;

        }

      }

      .current-menu-item a, .current-category-ancestor a, .current-post-ancestor a {
        @extend %link-underline-White;
      }

      .widget-title {
        @extend %Border-Left-Footer;
        @extend %Pt-Bold;
        display: none;
        margin-bottom: 20px;
        font-size: 16px;

        @include media($desktop, 'min') {
          display: block;
        }

      }
    }
  }
  .Footer-Contact {
    display: table;
    margin: 0 auto;
    li, a {
      display: table;

    }
    svg {
      width: 20px;
      height: 20px;
      display: table-cell;
      vertical-align: middle;
    }
    span {

      display: table-cell;
      vertical-align: middle;
      padding-left: 8px;
      font-size: 14px;
      padding-right: 20px;
      @include media($desktop, 'min') {
        padding-right: 0;
      }
    }

  }
  @at-root .Copyright-Wrap {
    background-color: $c-primary-footer;
    @at-root .Copyright {
      @extend %Width-Content;
      display: table;
      width: 100%;
      padding-top: 8px;
      padding-bottom: 8px;
      > * {
        display: table-cell;
        vertical-align: middle;
      }

      .site-description {
        font-size: 14px;
        @include media($desktop, 'min') {
          font-size: 18px;
        }

      }

      .Routine {
        a {
          display: table;
          padding-top: 1px;
          margin-left: auto;
        }
        svg {
          display: table-cell;
          vertical-align: middle;
          max-width: 78px;
          height: 28px;
          @include media($desktop, 'min') {
            max-width: 116px;
            height: 40px;
          }
        }

      }
    }
  }
}