
.Form-Wrap
{
    display:          table;
    position:         fixed;
    opacity:          0;
    visibility:       hidden;
    width:            100%;
    height:           100%;
    top:              0;
    left:             0;
    right:            0;
    bottom:           0;
    z-index:          10;

    background-color: rgba(0, 0, 0, .749);
    transition:       ease .4s;

    &.Form-Active
    {
        visibility: visible;
        opacity:    1;
    }

}

.JS-Form-Result{
    display: block;
    margin-top: 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    display:            none;

    -webkit-appearance: none;
    margin:             0; /* <-- Apparently some margin are still there even though it's hidden */
}
.Form-Cell
{
    display:        table-cell;
    vertical-align: middle;

    .Form
    {
        @extend %Unselectable;
        position:         relative;
        display:          table;
        margin:           0 auto;
        max-width:        336px;
        width:            100%;
        background-color: white;
        border:           2px solid $c-primary-text;
        padding:          22px 24px 21px;
        @include media($tablet, 'min')
        {
            padding: 12px 24px 21px;
        }
        .Close-Form
        {
            display:       block;
            position:      absolute;
            top:           8px;
            right:         5px;
            width:         15px;
            height:        15px;
            margin-top:    0;
            border-radius: 50%;
            box-sizing:    content-box;
            padding:       5px;

            cursor:        pointer;
            @include media($tablet, 'min')
            {
                top:              -24px;
                right:            -26px;
                background-color: white;
            }

        }
        > * + *
        {
            margin-top: 25px;
        }
        h2
        {
            @extend %Unselectable;
            @extend %Pt-Bold;
            font-size:  18px;
            color:      $c-grey-text;
            text-align: center;

        }
        input, textarea
        {
            width:     100%;
            font-size: 14px;
            padding:   10px 24px;
        }


        .Choosen-Item, .Choosen-Link
        {
            display: none;
        }

        input[type="text"], input[type="number"]
        {
            @extend %Roboto-Italic;
            @extend %Control-Base;

            color: $c-grey-text;
        }
        button
        {
            width:   100%;
            @extend %Unselectable;
            @extend %Primary-Button;
            cursor:  pointer;
            padding: 11px;
        }
        textarea
        {
            @extend %Control-Base;
            height: 80px;
            resize: none;
            color:  $c-grey-text;
        }

    }
    .Call-Content
    {

    }
    .Order-Content
    {
        .Item-Title
        {
            display:     block;
            font-size:   16px;
            line-height: 23px;
            color:       $c-grey-text;
            text-align:  center;
            margin-top:  5px;
        }
    }

    .JS-Form-Result
    {
        display:    block;
        margin-top: 10px;
        font-size:  14px;
        color:      #000;
    }
}
