//SITE-HEADER
.Site-Header-Top
{
    @extend %Pt-Bold;
    position:         relative;
    background-color: $c-primary;
    color:            white;

    z-index:          2;

    //HEADER-TOP with blue background
    .Header-Top
    {
        @extend %Width-Content-No-Pad;
        position: relative;

        z-index:  2;
        @include media($desktop, 'min')
        {
            padding-left:  40px;
            padding-right: 47px;
            display:       table;
            width:         100%;

            > *
            {
                display:        table-cell;
                vertical-align: middle;
            }

        }

        a
        {
            color: white;

        }
        .current-menu-item, .current-category-ancestor, .current-post-ancestor
        {
            a
            {
                text-decoration: underline;
            }
        }
        @at-root .Site-Branding
        {
            padding: 0 16px 3px;
            height:  48px;
            @include media($desktop, 'min')
            {
                padding: 0 0 3px;
                height:  auto;
            }

            a
            {
                display: inline-block;
                padding: 0 7px 3px;
                @include media($desktop, 'min')
                {
                    padding: 8px 7px;
                }
            }

            //SITE-TITLE
            @at-root .site-title
            {
                display: inline-block;
                @include media($desktop, 'min')
                {
                    margin-bottom: 2px;
                }

                svg
                {
                    height:         32px;
                    width:          24px;
                    vertical-align: middle;
                    @include media($desktop, 'min')
                    {
                        height: 50px;
                        width:  40px;
                    }

                }

                span
                {
                    vertical-align: middle;
                    font-size:      17px;
                    @include media($desktop, 'min')
                    {
                        font-size: 26px;

                    }
                }
            }
        }

        //Site-Nav menu
        @at-root .Site-Nav
        {
            @extend %transition-soft-height;
            position:         relative;

            background-color: $c-primary-d;
            will-change:      height;

            z-index:          4;
            @include media($desktop, 'min')
            {
                position:         relative;
                height:           auto !important;

                background-color: $c-primary;

                text-align:       center;

            }

            .primary-menu
            {
                li:nth-last-of-type(1)
                {
                    display: none;
                    @include media($desktop-b, 'min')
                    {
                        display: inline-block;
                    }

                }

                li:nth-last-of-type(2)
                {
                    display: none;
                    @include media($desktop-sm, 'min')
                    {
                        display: inline-block;
                    }

                }
                li
                {
                    @extend %transition-soft-recolor;
                    padding:       6px 28px;

                    text-align:    center;
                    @include media($desktop, 'min')
                    {
                        display:       inline-block;
                        padding:       6px 15px;

                        border-bottom: none;

                    }
                    a
                    {
                        @extend %transition-soft-recolor;
                        display: block;

                        margin:  0 auto;
                        padding: 23px 0;

                    }

                    border-bottom: 1px solid $c-grey-box-line;
                    &.Hovered
                    {
                        background-color: #f6fafb;

                        a
                        {
                            color: $c-grey-text;
                        }
                    }
                }
            }

            .Nav
            {

                @include media($desktop, 'min')
                {
                    display: table;
                    width:   100%;
                }
                > div
                {
                    @include media($desktop, 'min')
                    {
                        display:        table-cell;
                        vertical-align: middle;
                    }
                }

                //Header-Phone
                @at-root .Header-Phone
                {
                    .Phone
                    {
                        display: table;
                        width:   100%;

                        @include media($desktop, 'min')
                        {
                            width:     215px;
                            max-width: 100%;
                            margin:    0 0 6px auto;

                        }
                        .textwidget
                        {
                            display: none;
                            @include media($desktop, 'min')
                            {
                                display:       inline-block;
                                margin-bottom: 3px;
                            }
                        }
                        > button
                        {
                            display:   table;
                            max-width: 250px;
                            width:     100%;
                            margin:    0 auto;
                        }

                    }

                    text-align: center;
                    padding:    30px 0;
                    @include media($desktop, 'min')
                    {
                        padding: 0;
                    }

                    span
                    {
                        @extend %Pt-Bold;
                        font-size: 16px;

                    }

                    button
                    {
                        @extend %Pt-Serif;
                        @extend %Call-Order;
                        margin-top: 4px;
                        width:      100%;
                        padding:    15px;
                        @include media($desktop, 'min')
                        {
                            padding: 4px 0 4px;
                        }

                    }

                }
            }
        }
        @at-root .Ham-Wrap
        {
            position:   relative;
            width:      29px;
            height:     23px;
            padding:    16px 7px 7px;
            margin-top: 2px ;
            box-sizing: content-box;
            float:      right;

            cursor:     pointer;
            @include media($desktop, 'min')
            {
                display: none;
            }

            @at-root .Ham
            {

                display:          block;
                position:         absolute;
                top:              calc(50% - 1.5px);
                width:            29px;
                height:           3px;
                border-radius:    3px;
                background-color: $c-secondary;


                &:before
                {
                    content:          '';
                    display:          block;
                    position:         absolute;

                    top:              -9px;

                    width:            29px;
                    height:           3px;
                    border-radius:    3px;
                    background-color: $c-secondary;

                }

                &:after
                {
                    content:          '';
                    display:          block;
                    position:         absolute;

                    bottom:           -9px;

                    width:            29px;
                    height:           3px;
                    border-radius:    3px;
                    background-color: $c-secondary;
                }

            }
        }
    }

    //HEADER-BOTTOM with white background

}

body
{
    &.category:not(.category-news)
    {
        .Site-Header-Top
        {
            .Hovered
            {
                background-color: transparent;

                a
                {
                    color: white;
                }
            }
        }
        .Site-Header-Bottom
        {
            position: relative;
            height:   auto;
        }

    }
}

.Site-Header-Bottom
{
    display:          none;
    transition:       height ease-in-out .2s, transform ease 1s;
    will-change:      transform, height;
    box-shadow:       0 -1px 15px -2px rgba(0, 0, 0, .5);

    &.Hovered
    {
        height:     81px;
        transition: height ease-in-out .2s;

    }

    background-color: #f6fafb;
    @include media($desktop, 'min')
    {
        display: block;

    }
    .Header-Bottom
    {
        @extend %Width-Content;
        display: table;
        width:   100%;

        @include media($desktop, 'min')
        {
            padding-left:  40px;
            padding-right: 47px;
        }

        //Site Catalog-Menu
        @at-root .Provider-Categories
        {
            display:        table-cell;
            vertical-align: middle;
            padding:        16px 9px;

            li
            {
                display:        inline-block;
                vertical-align: middle;
                margin-right:   5%;
                line-height:    28px;

                a
                {
                    font-family: 'PT Serif', serif;
                    font-weight: 700;
                    color:       #222222;

                }
            }
        }
        @at-root .Catalog-Search
        {
            display:        table-cell;
            vertical-align: middle;
        }
    }
    @at-root .Search-Form
    {
        @extend %Rounded;
        position:         relative;

        display:          table;
        margin-left:      auto;
        background-color: $c-grey-form;


        @at-root .Search-Field
        {

            padding:     9px 38px 9px 16px;
            color:       #000;
            font-style:  italic;
            font-weight: 300;
            width:       215px;
            font-size:   12px;

        }

        .Search-Submit
        {
            position:         absolute;
            top:              1px;
            right:            8px;
            padding:          5px 5px 2px;

            background-color: transparent;
            cursor:           default;

            z-index:          2;
            svg
            {
                width:  17px;
                height: 17px;
            }
        }
    }
}



