//NAV-MENU STYLES
//---------------------------------------------------1----------------------------------------------------
// MAIN-MENU-MOBILE STYLES
//--------------------------------------------------------------------------------------------------------

.Site-Header-Top, .Header-Top, .Nav-Active, .Nav-Active {
  height: 100%;
}


.Site-Nav.Nav-Active {
  height: calc(100% - 48px);
  .current-menu-item, .current-category-ancestor, .current-post-ancestor {
    background-color: $c-secondary;
    border-bottom: 1px solid $c-secondary;
    a {
      text-decoration: none;
    }
  }
}
.Site-Nav.Nav-Active.Scroll {
  overflow-x: scroll;
}
.Site-Nav.Nav-Active.Full {
  .Nav {
    //-----------------------------STYLES FOR VIEWPORT HEIGHT<600PX

    height: 100%;
    & > div {
      &:first-of-type {
        height: 80%;
      }
    }
    & .Header-Phone {
      height: 20%;
      display: table;
      width: 100%;
      padding: 0;
    }
    .primary-menu {
      height: 100%;
      display: table;
      width: 100%;
      > li {
        display: table-row;
        a {
          display: table-cell;
          vertical-align: middle;
          border-bottom: 1px solid white;
          &:after {
            display: none;
          }
        }
      }

    }
    .Phone {
      display: table-cell;
      vertical-align: middle;
    }

    //-----------------------------------VIEWPORT HEIGHT<600PX ENDS
  }
}

//--------------------------------------------------------------------------------------------------------

//Form-Styles
//---------------------------------------------------2----------------------------------------------------

.Js-Link {
  &.Hidden {
    display: none;
  }
}

//--------------------------------------------------------------------------------------------------------

//CATEGORY-MENU-JS
//---------------------------------------------------3----------------------------------------------------
.Catalog-Aside-Wrap {

  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all ease-in-out .2s;
  @include media($desktop, 'min') {
    height: auto;
    visibility: visible;
    overflow: visible;
    opacity: 1;
  }

  &.Nav-Active {
    visibility: visible;
    overflow: visible;
    opacity: 1;
    transition: all ease-in-out .2s;
  }
  .Js-Close-Cat {
    @include media($desktop, 'min') {
      display: none;
    }
  }
}

//----------------------------------------------------------------------------------------------------------

//--------------------------------------------------4-------------------------------------------------------
//JS-TABS
//--------------------------------------------------4-------------------------------------------------------
.JS-Tabs-Content{
  .Tab{
   @include media($desktop, 'max'){
     display: block!important;
   }

  }
}
//---------------------------------------------------5----------------------------------------------------
//Disabled-Buttons
.Press-Disallow{
  cursor: default;
}
//--------------------------------------------------------------------------------------------------------