.Paginate {
  @extend %Pt-Serif;
  position: relative;
  display: table;
  margin: 40px auto;

  font-size: 14px;

  z-index: 3;
  @include media($desktop, 'min'){
    margin: 50px 25px 0 auto;
  }
  .page-numbers {
    @extend %transition-soft-recolor;
    display: inline-block;
    color: white;
    background-color: $c-primary;
    min-width: 24px;
    height: 24px;
    padding: 2px 3px;
    text-align: center;
    margin-left: 0;

    font-size: inherit;
    font-family: inherit;
    &.dots{
      cursor: default;
    }
    & + .page-numbers {
      margin-left: 12px;

      @include media($desktop, 'min'){
        margin-left: 20px;
      }
    }
    &:not(.current){
      cursor: pointer;
    }

    &.current {
      @extend %transition-soft-recolor;
      background-color: $c-secondary;
    }
  }
  .page-numbers {
    &.dots{
      cursor: default;
    }
    &.next,&.prev {
      display: none ;
    }

  }

}