.Post-News-Wrap {

  @at-root .Post-News {
    position: relative;

    font-size: 0;
    @include media($desktop, 'min') {
      min-height: 209px;
    }

    @at-root .Post-News-Wrap .Image {
      max-width: 320px;
      margin: 0 auto;
      > div {
        width: calc(100% + 32px);
        margin-left: -16px;
      }

      @include media($tablet, 'min') {
        display: inline-block;
        vertical-align: top;
        > div {

          width: 100%;
          margin-left: 0;
        }
      }

    }
    @at-root .News-Article {
      @include media($tablet, 'min') {

        overflow: hidden;
        text-overflow: ellipsis;

      }
    }
    @at-root .News-Category {
      .Post-News {
        @include media($tablet, 'min') {

          display: table;
          width: 100%;

        }

      }

      .Image {

        @include media($tablet, 'min') {

          display: table-cell;
          vertical-align: top;
          width: 30%;

        }
      }

      .News-Article {
        @include media($tablet, 'min') {

          display: table-cell;
          vertical-align: top;
          padding-top: 4px;
          padding-left: 24px;

        }
      }

    }
    .News-Article {
      padding-top: 16px;
      @include media($tablet, 'min') {
        display: inline-block;
        vertical-align: top;


        text-overflow: ellipsis;

      }
      p {
        font-size: 14px;
        line-height: 18px;
      }
      h2 {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 8px;
      }
     @at-root .Post-News .News-Info {
        padding: 20px 0;
        @include media($desktop, 'min') {
          position: absolute;
          bottom: -20px;
          right: 0;
          //padding: 20px 0 20px;

        }
        a {
          @extend %Pt-Bold;
          @extend %link-underline-Blue;

          float: right;
          font-size: 14px;

          @include media($desktop, 'min') {

          }

        }
        .News-Date {
          font-size: 12px;
          font-weight: 300;
          color: $c-grey-text-date;
        }

      }

    }
  }
}
