.Post-Wrap {
  padding: 16px 0;
  @include media($tablet, 'min') {

    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 17px 20px 32px;

  }
  @include media($desktop, 'min') {
    width: 33.3333%;

  }
}

.Post {

  @include media('375px', 'min') {
    max-width: 320px;
    margin: 0 auto;
  }
  @include media($desktop, 'min') {
    max-width: 240px;

  }
  .Post-Title {
    @extend %Roboto;
    margin-bottom: 3px;
    font-size: 18px;
    a {
      display: block;
      color: black;
      font-size: inherit;
    }
  }
  .Post-Image {
    max-width: 320px;
    margin: 0 auto 20px;


    text-align: center;

    @include media($tablet, 'min') {
      padding-bottom: 0 !important;
      height: 172px;

    }
    .centrator{
      display: table;
      height: 100%;
      margin: 0 auto;
      > div{
        display: table-cell;
        vertical-align: middle;
        height: 110px;
        @include media($tablet, 'min') {
          height: 172px;

        }

      }
      .Cell{
        img{
          max-height: 100%;
        }
      }
    }

     img {
      @include media($desktop, 'min') {
        padding-bottom: 0 !important;
        max-height: 100%;

      }
    }

  }
  @at-root .Message-Title {
    display: block;
    height: 45px;
    overflow: hidden;
  }
  @at-root .Popular-Offers .Post .Post-Category{
    height: 16px;
  }
  @at-root .Brands-Catalog .Post-Category{
    height: 16px;
  }
  @at-root .Post-Category {
    font-size: 12px;
    margin-bottom: 6px;
    height: 28px;
    overflow: hidden;
    text-transform: initial;
    a{
      color: $c-grey-text-l;
    }
  }
  .Short-Description {
    font-size: 14px;
    min-height: 80px;
    @include media($tablet, 'min') {
      height: 138px;
    }

  }
  .Post-Content {

    @at-root .Post-Footer {
      display: table;
      width: 100%;

      padding: 12px 8px 0 ;
      @include media($tablet, 'min') {
        padding: 0 8px ;
      }
      @include media($desktop, 'min') {
        padding: 10px 0 0;
      }

      > div {
        display: table-cell;
        vertical-align: baseline;
      }

      .Order-Wrap {
        text-align: right;

      }

      @at-root .Post-Footer .Price {
        @extend %Pt-Bold;
        font-size: 18px;
        @include media($desktop, 'min') {
          padding-bottom: 0 !important;
          font-size: 16px;
        }

        .price {
          color: $c-attention;

        }
      }
      @at-root .Post-Footer .Rub {
        width: 12px;
        height: 12px;
        fill: $c-attention;
        margin-left: 5px;
      }
      @at-root .Post-Footer .Order {
        @extend %Wave-Button;
        text-align: center;
      }
    }
  }

}
.Brands-Category{
  a{
    display: none;
    &:nth-of-type(2){
      display: inline-block;
    }
  }
}