.Slider
{
    max-width: 340px;
    //-----------------------------------------------------------------
    @at-root .Slider-Box
    {

        //------------------------------------------
        @at-root .Slider .View
        {

            @extend %Mob-Image-View;

            border:           2px solid $c-grey-box-line;
            background-color: $c-grey-box-line;

            //----------------------
            @at-root .View .View-Item
            {
                padding-bottom:      69%;
                background-size:     cover !important;;
                background-repeat:   no-repeat;
                background-position: center;

                transition:          background linear .4s;

                @include media($tm, 'min')
                {
                    padding-bottom: 71%;
                }
            }
            //----------------------
        }

        .Views
        {
            overflow: hidden;
            &.Scrolable
            {
                overflow-x: scroll;
            }
            @at-root .Slider .Views-List
            {
                padding:     14px 0;
                display:     table;

                white-space: nowrap;
                p
                {
                    display:     table;
                    white-space: nowrap;
                }

                //--------------------------
                .Js-Img
                {

                    width:           60px;
                    height:          auto;
                    border:          2px solid $c-grey-box-line;
                    vertical-align:  top;

                    cursor:          pointer;
                    transition:      border ease-in-out .1s;
                    background-size: cover;
                    @include media($desktop, 'min')
                    {
                        width: 75px;
                    }

                    //--------------------------

                    & + .Js-Img
                    {
                        margin-left: 11px;
                        @include media($tm, 'min')
                        {
                            margin-left: 13px;
                        }
                    }
                    &.Active
                    {
                        transition: border ease-in-out .2s;
                        border:     2px solid $c-primary-text;

                        cursor:     default;
                    }
                    //--------------------------
                }

                //--------------------------
            }
        }

        //------------------------------------------
    }
}

