.Sorting-Block {
  @extend %Pt-Serif;
  @extend %Unselectable;
  display: none;
  position: absolute;
  top: 22px;
  right: 0;
  color: #141414;
  font-size: 0;
  @include media($desktop, 'min') {
    display: block;
  }
  //--------------------------------------------------------------------
  .Sorting-Title, .Sorting-Wrap {
    display: inline-block;
    vertical-align: top;

  }
  .Sorting-Wrap {
    width: 62%;
  }
  //--------------------------------------------------------------------
  .Sorting-Title {
    width: 38%;
    font-family: inherit;
    font-size: 16px;
    color: $c-grey-text;
    padding: 1px 16px;
  }

  //--------------------------------------------------------------------
  .Conditions-Wrap {
    overflow: hidden;
    height: 0;
    will-change: height;
    transition: height ease-in-out .2s;
    //--------------------------------
    @at-root .Conditions {
      margin-top: 8px;
      background-color: #d9d9d9;

      li {
        font-size: 14px;

        &:hover{
          background-color: $c-grey-text-l;
          a{
            color: white;
          }
        }

        &.Active {
          background-color: $c-primary;
          a{
            color: white;
            cursor: default;
          }

        }
      }

      a {
        display: block;
        cursor: pointer;
      }
    }

    //--------------------------------
    @at-root .Sorting {
      li {
        padding: 1px 16px;
      }

      //---------------------------------------------------------
      .Current-Condition {
        background-color: #e6e8ea;

        position: relative;
        cursor: pointer;
        &.Active {
          .Arrow {
            transform-origin: center center;
            transform: rotate(180deg);
            -moz-transform: rotate(90deg);
          }
        }
        li {
          @extend %Unselectable;
          font-family: inherit;
          font-size: 15px;
          padding: 1px 28px 5px 16px;
        }
        .Arrow {
          position: absolute;
          right: 0;
          top: 0;

          background-color: #d9d9d9;

          > svg {
            width: 12px;
            height: 12px;
            padding: 7px 8px;
            box-sizing: content-box;
            fill: #5259a5;

          }

        }

      }

      //---------------------------------------------------------
    }
    //--------------------------------------------------------------------

  }

  //---------------------------------------------------------

}