body {

}

.static {

  p {
    word-break: break-word;
  }
  & > * + * {
    margin-top: 16px;
  }
  color: $c-grey-text;
  h2 {
    @extend %Pt-Bold;
  }
  strong {
    font-weight: 700;
  }

  h3 {
    @extend %Pt-Bold;
    font-size: 18px;
    color: $c-primary-text;
  }

  h4 {

  }

  h5 {
  }

  p, li, a, span, dl, dt, a {
    font-size: 14px;
    line-height: 18px;
    @include media($desktop, 'min') {
      font-size: 16px;
      line-height: 25px;
    }
  }

  ul {

    li {
      list-style: disc inside;
    }

  }

  ul, ol {
    padding-left: 16px;
    li {

      color: $c-primary-text;

      * {
        color: $c-grey-text;
      }
    }
  }

  a {

    @extend %Roboto-Italic;
    font-weight: 700;
    color: $c-primary-text;

    text-decoration: underline;

  }

  ol {
    li {
      list-style: decimal inside;
    }

    &:first-letter {
      color: $c-primary-text;
    }

  }
}

.Table-Wrap {
  max-width: 100%;
  padding-bottom: 32px;
  overflow-x: scroll;

  @include media($tm,'min'){
    overflow-x: auto;
    padding-bottom: 0;
  }
  > p {
    display: none;
  }

}

table {
  width: 100%;
  min-width: 700px;
  background-color: #e6e8ea;
  border-spacing: 2px;
  table-layout: auto;


}

tbody {
  width: 100%;
  background-color: #f9f9f9;


}

thead {
  border-collapse: collapse;
}

th {
  @extend %Pt-Bold;
  font-size: 14px;
  position: relative;

  & + th {
    &:before {
      content: '';
      position: absolute;
      display: block;
      background-color: #f9f9f9;
      top: -2px;
      left: -2px;
      bottom: -2px;
      width: 2px;
    }

  }

  p {

    display: block;
    padding: 10px 20px;
    font-size: inherit;
    background-color: #e6e8ea;

  }
}

tr {
  background-color: $f9f9f9;
}

td {

  font-size: 12px;
  text-align: center;
  padding: 10px 20px;
  * > {
    font-size: inherit;
  }
}


